body {
    background-color: rgba(0, 102, 255, 0.568);
  }

  
  .title{
    text-align: center; 
    font-size:50px;
    border:5px solid orangered;
    color: greenyellow; 

  }

  .titulo{
    color:blue;
  }

  .color{
    color: purple;
  }